#wrapper {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.img1 {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.img2 {
  width: 700px;
  height: auto;
}

#count {
  position: absolute;
  top: 20%;
  left: 48%;
  font-size: 80px;
}

.born {
  color: red;
}

@media screen and (max-width: 425px) {
  #count {
    font-size: 20vw;
  }
}
